@import "tailwindcss";

html, body {
  font-family: 'sans', sans-serif;
}


.highlight-hover {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.highlight-hover::before {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0;
  width: 0;
  background: rgba(0, 110, 255, 0.25);
  transition: width 0.5s ease;
  z-index: 0;
  pointer-events: none;
}

.highlight-hover:hover::before {
  width: 100%;
}

